pandas
openpyxl
numpy
ezdxf
streamlit
python-docx
pillow
groq
python-dotenv
docxcompose
pdfplumber
requests
convertapi
pywin32
docx2pdf
sentence-transformers
bert-score
torch
pinecone-client
rapidfuzz
opencv-python
transformers
accelerate
